rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /programs/{programId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null
        && request.auth.token.email == "여기에_관리자_GMAIL@gmail.com";
    }
  }
}
